<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
{% extends 'cars/base.html' %}

{% block title %}Контакты{% endblock %}

{% block content %}
<h1>Контакты</h1>
<p>Вы можете связаться с нами по следующим контактным данным:</p>
<p>Телефон: +1 234 567 890</p>
<p>Email: contact@carshop.com</p>
<p>Адрес: 123 Main Street, City, Country</p>
{% endblock %}
